<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvp74JstiOIIOayedYYg3YuAAJFD_8-TA</string>
	<key>GCM_SENDER_ID</key>
	<string>879122945592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BatchiOS</string>
	<key>PROJECT_ID</key>
	<string>batch-dfac0</string>
	<key>STORAGE_BUCKET</key>
	<string>batch-dfac0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879122945592:ios:de32f08f72f04e3e26b8cd</string>
</dict>
</plist>