<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Batch.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
				<key>dateExpires</key>
				<string>17/01/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HCVimeoVideoExtractor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MFSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>5.18.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SGCodeTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC23FC178746AE6A2B3AB51EECA5D4CC456A744B</string>
						<key>dateExpires</key>
						<string>17/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyStarRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>47HD6SMK73</string>
						<key>name</key>
						<string>Jamal Alajmi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>47HD6SMK73.com.BatchiOS</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>47HD6SMK73</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Batch.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e6a25e2f-3f89-49ab-b738-d5bbca6e3b44</string>
				<key>dateExpires</key>
				<string>18/02/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.BatchiOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>47HD6SMK73</string>
				<key>name</key>
				<string>Jamal Alajmi</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
